#intro {
    border: 2px solid purple; 
    border-radius: 5px; 
    padding: 5px; 
    text-align: center; 
}

#outro {
    border: 2px solid purple; 
    border-radius: 5px; 
}

#start {
    text-align: center;
}

.hide {
    display: none; 
}

